// color

$primary: #3D7A57;
$primaryDark: #3D7A57;
$primaryLight: #3D7A57;
$white: #F0F0F0;
$black: #191C21;

$primaryText: #37474F;
$primaryTextLight: #95989D;
$menuText: #95989D;

$inputShadow: #E5E5E5;
