// color

$primary: #00A59E;
$primaryDark: #006064;
$primaryLight: #B2DFDB;
$white: #fff;
$black: #000;

$primaryText: #37474F;
$primaryTextLight: #B7C0CA;
$menuText: #3D4E61;

$inputShadow: #E5E5E5;
