@import './_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

h1, h2, h3, h4, h5, span, p, div, a {
  font-family: Montserrat, serif !important;
  color: $primaryText;
  text-align: left;
}

p {
  margin: 0;
}
.v-text-field {
  background: $white;
  border-radius: 2px;
  color: $primaryTextLight;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border: 1px solid rgba(61, 78, 97, 0.2);
}
a.btnMore {
  color: $primary;
  font-weight: bold;
  display: flex;
  align-items: center;
  i {
    color: $primary;
    font-weight: bold;
  }
}
.v-toolbar__title {
  overflow: unset;
}
.v-carousel__controls {
  background: transparent;
}

.v-btn--active:before, .v-btn:hover:before, .v-btn:focus:before {
  background-color: unset;
}
.slick-prev:before, .slick-next:before {
  height: 100%;
  align-items: center;
  display: flex !important;
  justify-content: center;
}
.slick-slider {
  margin-right: 0px;
}
